.Form {
  margin-top: 20px;
}

.Field {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
  margin-right: 10px;
  height: 30px;
  vertical-align: middle;
}